<% include partials/header %>
<h3>Holiday Planner</h3>
Hi,
<br/>
<form method="POST" action="/newcab"><button class="btn btn-primary" type="submit" >Add New Cab</button></form>
<form method="POST" action="/allcabs"><button class="btn btn-primary" type="submit">View Cabs</button></form>

<% include partials/footer %>