<% include partials/header %>
<h3>Blockchain Dashboard</h3>
Hi, <%=card %>
<br/>
<ul>
    <li><a href="/participants">Participants</a></li>
    <li><a href="/assets">Assets</a></li>
    <li><a href="/historian">System History</a></li>
</ul>

<% include partials/footer %>