<% include partials/header %>
<h1>Welcome to Blockchain Network</h1>
<p>
    <h3>Login</h3>
<form method="POST" action="/login">
        <label>User Name</label><br />
        <input name="username" type="text" value="" /><br />
        <label>Card Name</label><br />
        <input name="cardname" type="text" value="" /><br />        
        <input type="submit" value="submit" />
    </form>
</p>
<% include partials/footer %>
    
