<% include partials/header %>
<p>
    <ul>
        <% users.forEach(item=>{ %>
        <li><%= item.username %> - <%= item.password %></li>
        <% }) %>
    </ul>
</p>
<% include partials/footer %>